.deleteButton {
  appearance: none;
  border: none;
  background: url('/btn_remove_nor.svg');

  width: 28px;
  height: 28px;

  cursor: pointer;
  opacity: 1;

  &:hover:not(:disabled) {
    background: url('/btn_remove_hov.svg');
  }
}