.textfield {
  --border-color: #cccccc;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  width: 100%;
}

.textfield__wrap {
  flex-grow: 1;
  position: relative;
}

.textfield__input {
  outline: none;

  border: 1px solid transparent;

  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;

  padding: 4px 24px 4px 0;
  width: 100%;

  &.textfield__input--border {
    border-bottom: 1px solid var(--border-color);
    &:focus {
      border-bottom-color: var(--primary-color);
    }
  }
}

.textfield__clear {
  z-index: 1;
  position: absolute;
  
  top: 0;
  bottom: 0;
  right: 0;

  margin-top: auto;
  margin-bottom: auto;

  visibility: hidden;
}

.textfield__clear--show {
  visibility: visible;
}

.textfield__send {
  appearance: none;

  width: 24px;
  height: 24px;
  border: none;
}
