.textfield {
  --border-color: #cccccc;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  width: 100%;
}

.textfield__input {
  outline: none;

  flex-grow: 1;

  border: 1px solid transparent;

  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;

  &.textfield__input--border {
    border-bottom: 1px solid var(--border-color);
    &:focus {
      border-bottom-color: var(--primary-color);
    }
  }
}

.textfield__send {
  appearance: none;

  width: 24px;
  height: 24px;
  border: none;
}
