.login-page {
  width: var(--container-width);
  margin: auto;
}

.welcome {
  margin-top: 60px;

  p {
    margin: 0;

    font-size: 1.5rem;

    color: #2c3e50;
  }
}

.login {
  width: 100%;
  margin-top: 24px;

  h1 {
    margin: 16px 0;
    font-size: 3rem;
  }
}
