.home-page {
  height: calc(100vh - 48px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  width: 1024px;
  margin: auto;
}

.top {
  padding: 24px 0;
}

.top__greeting {
  p {
    margin: 0;
    font-size: 1.5rem;
  }
}

.top__info {
  margin-top: 16px;

  p {
    margin: 0;
    font-size: 1.5rem;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
  }
}

.top__input {
  margin-top: 16px;
}

.bottom {
  flex-grow: 1;
  background-color: #F4F4F4;
}