.topbar {
  height: var(--topbar-height);
  width: 100%;

  background-color: #6c77ac;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .topbar__left {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    margin-left: 16px;
  }

  .topbar__menu {
    width: 24px;
    height: 24px;
  }

  .topbar__title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .topbar__right {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    margin-right: 16px;
  }

  .topbar__date {
    font-weight: 700;
    color: #ffffff;
  }

  .topbar__signup {
    border: 1px solid #ffffff;
    color: #ffffff;

    height: 28px;
    font-size: 0.875rem;
  }
}
