@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  /* variables */
  --primary-color: #2a82f0;
  --raw-primary-color: 42 130 240;

  --font-family: Inter, 'Noto Sans KR', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --container-width: 960px;
  --topbar-height: 48px;

  /* root property */
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}